.uppercase {

    text-transform: uppercase;
    color: blueviolet;
    text-decoration: underline overline line-through



}
.lowercase {
    text-transform: lowercase;
    color: brown;
    text-decoration: overline 

}
.capitalize {
    text-transform: capitalize;
    color: green;
    text-decoration: underline;
}

.center {
    text-align: center;
    color: blue;
    background-color: aqua;
    text-decoration: underline overline line-through

}
.right {
    text-align: right;
    color: blueviolet;
    background-color: aquamarine;
    text-decoration: dashed;
}
.indent {
    text-indent: 50px;
}
.height{
    line-height: 30px;
}
.word_spacing{
    word-spacing: 50px;

}
.letter_spacing{
    letter-spacing: 50px;
    
}

.shadow {
    text-shadow: 14px 5px 8px red;
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;

}