.font_family1{
    font-family: Arial, Helvetica, sans-serif;
    color: red
    
}
.font_family2{
    font-family: fantasy;
    color: brown;
}
.font_family3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: palevioletred
}
.font_weight{
    font-weight: bolder;
    color: blue;
}

.dropshadow1{
    filter: drop-shadow(8px 8px 8px red);
    width: 200px;
    height: 200px;
}
.dropshadow2{
    filter: drop-shadow(8px 8px 8px palevioletred);
    width: 300px;
    height: 300px;}
.boxshadow1{
    box-shadow:8px 8px 10px blueviolet;
    width: 300px;
    height: 300px;
}
.boxshadow2{
    box-shadow:8px 8px 10px brown;
    width: 200px;
    height: 300px;
}
.box_shadow3 {
box-shadow: 8px 8px 8px brown;
width: 200px;
height: 200px;
}

.box_shadow6 {
box-shadow: 8px 8px 8px rgb(1, 1, 54);
width: 200px;
height: 200px;
}

.drop_shadow4 {
filter: drop-shadow(8px 8px 10px rgb(6, 172, 6));
width: 200px;
height: 200px;
}
.drop_shadow5 {
filter: drop-shadow(8px 8px 10px rgb(128, 57, 57));
width: 200px;
height: 200px;
}
drop_shadow7 {
filter: drop-shadow(8px 8px 10px rgb(128, 57, 57));
width: 200px;
height: 200px;
}

.box_model1 {
    padding: 50px;
    margin: 80px 50px 80px 50px;
    border: 4px solid brown;
  
   
    

}
.border_prop {
    height: 4000px;
    width: 400px;
    margin: 100px;
    padding: 10px;
    border: 5px double rgb(1, 1, 73);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 50px;
    border-top-color: brown;
    border-right-color: rgb(79, 14, 139);
    border-bottom-color: rgb(84, 5, 158);
    border-left-color: brown;
   filter: drop-shadow(8px 8px 10px blueviolet);

}
.border_prop1 {
    height: 600px;
    width: 600px;
    margin: 50px;
    padding: 7px;
    border: 5px double rgb(1, 1, 73);
    border-bottom-left-radius: 100px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 50px;
    border-top-color: brown;
    border-right-color: rgb(79, 14, 139);
    border-bottom-color: rgb(84, 5, 158);
    border-left-color: brown;
    filter: drop-shadow(8px 8px 10px rgb(8, 102, 165));

}




body {
    background-image: url("/images/flower.png.png");
}


h1{
    color: rgb(205, 223, 213);
    text-align: center;
    text-shadow: 8px 8px 8px black;
    font-size: xx-large;
    text-decoration: underline;
    text-transform: capitalize;
    

}
.backg_image {
    color: white;
    text-align: center;
    font-size: large;
    border: 3px solid rgb(58, 1, 1);
    margin: 30px;
    padding: 20px;
    
}

.backg_image2 {
    color: white;
    text-align: center;
    font-size: large;
    border: 3px solid rgb(58, 1, 1);
    margin: 30px;
    padding: 20px;

    
    

}
.backg_image3 {
    color: white;
    text-align: center;
    font-size: large;
    border: 3px solid rgb(58, 1, 1);
    margin: 30px;
    padding: 20px;
    
    

}
.backg_image4 {
    color: white;
    text-align: center;
    font-size: large;
    border: 3px solid rgb(58, 1, 1);
    margin: 30px;
    padding: 20px;
    

}
.backg_image5 {
    color: white;
    text-align: center;
    font-size: large;
    border: 3px solid rgb(58, 1, 1);
    margin: 30px;
    background-color: transparent;
    padding: 20px;
    
} 
 .box {
    width: 100px;
    height: 100px;
    border: 3px solid rgb(82, 3, 9);
    background-color: rgb(2, 107, 107);
    text-align: center;
    line-height: 100px;
    margin: 12px;
    color: aliceblue;
 }
 .box1{
   position: static;
 }
 .box2 {
    position: relative;
    top: 30px;
    left: 100px;
 }
 .box3 {
    position: absolute;
    top: 20px;
    left: 200px;
 }
.box4 {
    position: sticky;
    top: 10px;
    left: 300px;
}
.box5 {
    position: fixed;
    top: 5px;
    left: 400px;
}
  

.Hall {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(36, 1, 1);
    top: 100px;
    left: 20px;
    text-align: center;
    border: 3px solid;

}
#tv {
    position: absolute;
    height: 30px;
    width: 150px;
    background-color: rgb(16, 245, 218);
    left: 120px;
    display: flex;
    justify-content: center;
     align-items: center;
     text-align: center;
     font-weight: bold;
     border: 2px solid rgb(1, 13, 36);
    
}
#sofa {
    position: absolute;
    height: 80px;
    width: 200px;
    background-color: rgb(175, 209, 241);
    left: 100px;
    top: 150px;
    display: flex;
    justify-content: center;
     align-items: center;
     text-align: center;
     font-weight: bold;
     border:3px solid rgb(20, 1, 20);

}

#freeze {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 80px;
  height: 130px;
  background-color: rgb(228, 192, 158);
  border: 2px solid rgb(31, 20, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}




.items {
    background-color: rgb(58, 2, 46);
    width: 250px;
    height: 150px;
    margin-top: 20px;
    color: rgb(219, 231, 230);
    margin: 20px;
    border: 5px solid pink;
    display:flex;
    justify-items: center;
    align-items:center;
    
}
.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap:wrap;
    justify-content: space-evenly;
} */




 
  .hospital-container {
  position: relative;
    width: 800px;
    height: 600px;
    background-color: rgb(51, 2, 2);
    top: 100px;
    left: 20px;
    text-align: center;
    border: 3px solid;
}
#entrance{
    position: absolute;
    height: 100px;
    width: 800px;
    background-color: rgb(174, 233, 226);
    display:flex;
    justify-content: center;
     align-items: center;
     text-align: center;
     font-weight: bold;
     
    
    }

    #waiting{
    position: absolute;
    height: 60px;
    width: 200px;
    background-color: rgb(2, 97, 86);
    left: 5px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
     align-content: center;
     font-weight: bold;
     border: 2px solid rgb(148, 5, 5);
     top: 110px;
    }

    #consult1{
    position: absolute;
    height: 60px;
    width: 200px;
    background-color: rgb(2, 97, 86);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
     align-content: center;
     font-weight: bold;
     border: 2px solid rgb(196, 25, 25);
     bottom: 100px;
     right: 5px; 
     top: 110px;

    }
    
    #consult2{
    position: absolute;
    height: 60px;
    width: 200px;
    background-color: rgb(2, 73, 66);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    border: 2px solid rgb(196, 25, 25);
    bottom: 350px; 
    right:6px;
     
    }
    #generalward1{
    position: absolute;
    height: 90px;
    width: 220px;
    background-color: rgb(2, 73, 66);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    border: 2px solid rgb(196, 25, 25);
    bottom: 250px; 
    left:6px;
}

#generalward2{
    position: absolute;
    height: 90px;
    width: 220px;
    background-color: rgb(2, 73, 66);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    border: 2px solid rgb(196, 25, 25);
    bottom: 150px; 
    left:6px;
}

#ICU{
    position: absolute;
    height: 90px;
    width: 220px;
    background-color: rgb(2, 73, 66);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    border: 2px solid rgb(196, 25, 25);
    bottom: 0px; 
    left:6px;
}

#operation_theater{
    position: absolute;
    height: 90px;
    width: 220px;
    background-color: rgb(2, 73, 66);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    border: 2px solid rgb(196, 25, 25);
    bottom: 0px; 
    right:6px;
} 

.hovereffect:hover {
    color: blueviolet;
    background-color: aquamarine;
    font-size: 50px;
    text-shadow: 5px 6px 8px blue;
    font-family: 'Times New Roman', Times, serif;
    height: 200px;
}
.hovereffect {
    color: rgb(9, 1, 14);
    font-size: 50px
}

button{
    background-color: rgb(1, 59, 77);
    font-size: 40px;
    padding: 10px;
    color: azure;
    border-radius: 20px;
    cursor: pointer;
}
button:active {
    background-color: rgb(80, 4, 156);
    font-size: 40px;
    padding: 20px;
    color: azure;
    border-radius: 20px;
}

a:visited {
    color:rgb(214, 88, 187);
    
}
 input:focus {
    background-color: rgb(0, 5, 3); 
    color: white;
}


ul {
    width:300px;
    padding: 10px;
    list-style-type: none;

}

li {
    padding: 10px;
    border: 3px solid brown;
    margin-bottom: 10px;
    border-radius: 10px;
}
li:nth-child(odd) {
    background-color: rgb(39, 243, 216);
}
li:nth-child(even) {
    background-color: rgb(236, 184, 105);
}


input[type="text"] {
    border: 7px solid brown;
    padding: 10px;

}
input [placeholder]{
    background-color: rgb(3, 0, 0);
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap:10px;
}
.Box {
    background-color: rgb(238, 82, 10);
    border-radius: 20px;
    height: 200px;
    width: 200px;
    color: white;
    font-weight: 90px;
    font-size: 25px;
    transition:transform 2s ease 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Box1:hover {

    transform: translate(150px,150px);
    background-color: rgb(5, 47, 110);
    border: 4px solid rgb(2, 2, 56);

}
.Box2:hover {
    transform: translateX(150px);
    border: 4px solid rgb(2, 2, 56);
    background-color: rgb(5, 47, 110);
}
.Box3:hover {
    transform: translateY(150px);
    border: 4px solid rgb(2, 2, 56);
    background-color: rgb(5, 47, 110);

}
.Box4:hover {
    
 transform: rotate(120deg);
  border: 4px solid rgb(2, 2, 56);
 background-color: rgb(5, 47, 110);

}
.Box5:hover {
    
 transform: skewX(120deg);
  border: 4px solid rgb(2, 2, 56);
 background-color: rgb(5, 47, 110);

}
.Box6:hover {  
 transform: scale(3);
  border: 4px solid rgb(2, 2, 56);
 background-color: rgb(5, 47, 110);

}
.Box7:hover {
transform: rotate(120deg) scale(3);
border: 4px solid rgb(2, 2, 56);
background-color: rgb(5, 47, 110);
gap: 10px;
}  


   /* div{
    color: white;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace; */
}   


  .linear{
    height:400px;
    border: 3px solid rgb(14, 1, 43);
    background: linear-gradient(to left, rgb(13, 13, 87) , rgb(110, 4, 4));
}

.radial{
    height:600px;
    border: 3px solid rgb(1, 51, 59);
    background: radial-gradient(circle at center, rgb(46, 1, 20) , rgb(16, 51, 0));
    border-radius: 10%;
} 

.conic {
    height:900px;
    border: 3px solid rgb(1, 51, 59);
    background: conic-gradient(from 120deg, rgb(1, 26, 11) , rgb(5, 66, 107));
    border-radius: 10%;
}  

  /* div{
    width: 200px;
    height: 200px;
    background-color: rgb(6, 168, 168);
    position: relative;
    animation: myfirstanimation;
    -webkit-animation: myfirstanimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;  
    border: 3px solid black;
    border-radius: 10px;
    animation-delay: 3s;
    animation-direction: alternate-reverse;
}   */

@keyframes myfirstanimation {
      0%   { background-color: rgb(0, 107, 107); left: 0px; top: 0px; }
      25%  { background-color: rgb(12, 143, 67);  left: 300px; top: 0px; }
      50%  { background-color: rgb(53, 2, 17);  left: 300px; top: 300px; }
      75%  { background-color: rgb(241, 124, 14); left: 0px; top: 300px; }
      100% { background-color: rgb(117, 2, 12);   left: 0px; top: 0px; }
    } 
    


    #txt {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 5px;
      font-size: 75px;
      font-weight: 500;
      position: relative;
      transform-style: preserve-3d;
      -webkit-perspective: 100px;
    }

    #txt > b {
      height: 80px;
      box-shadow: 0px 30px 15px rgb(19, 0, 0);
      color: rgb(87, 87, 2);
      background: rgb(68, 1, 1);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-transform-origin: bottom;
       transform: rotateX(-50deg); 
      animation: getUp;
      animation-duration: 10s;
      animation-iteration-count: infinite;

    }

    #txt>b:nth:child(1) {
        animation-delay: 0s;     
    }
    #txt>b:nth-child(2) {
        animation-delay: 0.25s;
    }
        #txt>b:nth-child(3) {
        animation-delay: 0.50s;
    }
        #txt>b:nth-child(4) {
        animation-delay: 0.75s;
    }
        #txt>b:nth-child(5) {
        animation-delay: 1s;
    }
        #txt>b:nth-child(6) {
        animation-delay: 1.25s;
    }
        #txt>b:nth-child(7) {
        animation-delay: 1.50s;
    }

    @keyframes getUp {
      0%, 60%, 100% { transform: rotateX(0); }
      10%, 50% { transform: rotateX(-86deg); }
    }  */
 